<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyKalender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyKalender.Properties.Settings>
            <setting name="NumericUpDown1X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumericUpDown1Y" serializeAs="String">
                <value>0</value>
            </setting>
        </MyKalender.Properties.Settings>
    </userSettings>
</configuration>